.red{
    width:30%;
    margin:auto;
    display: inline-block;
    }
   
   .bold{
     font-weight: bold;
     color: blanchedalmond;
   }
   
   .under{
     font-style: italic;
     color: rgb(104, 68, 16);
   }
   
   .backgr{
   
     color:rgb(37, 95, 150);
   }